/* importing styling from our nav.css file */
@import url(nav.css);

/* styling we want to include across our site  */
body{
    font-family:'Times New Roman', Times, serif, sans-serif;
    height: 100vh; 
    display: grid; 
    grid-template-areas: 
        "nav nav nav"
        "content content content"
        "footer footer footer";
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ececec;
}

main{
    grid-area: content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem; /* Adds consistent spacing between sections */
}

section{
    padding: 0px 50px 0px 50px; 
}

nav{
    grid-area: nav;
}

.page-content {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    text-align:center
}

h2
{
    font-family: 'inter', sans-serif;
   color: royalblue;
   font-size: 100px;
}
.photo {
    grid-column: 2; /* Photos in middle column */
    grid-row: 1; /* Start at top */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    border: 8px solid #77a3e9; 
    background-color: aliceblue;
    border-radius: 8px;
}

.photo img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

footer{
    grid-area: footer; 
}

.walk {
    grid-column: 2; /* Photos in middle column */
    grid-row: 1; /* Start at top */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    border: 8px solid #77a3e9; 
    background-color: aliceblue;
}

.walk img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}