{% extends "layout.njk" %}

{% block content %}
  {% if featured %}
    <p> featured post! </p>
  {% endif %}

  <article>
      <h2>{{ title }}</h2>
      <p><em>{{ date | readableDate }}</em></p>
      {{ content | safe }}
  </article>
{% endblock %}