nav ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-decoration: none;
    justify-content: center;
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav-item{
    padding: 20px;
}